# Python virtual environment
backend/.venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db